@{
    ViewData["Title"] = "2019-2020 NBA Season Assists Leaders";
}
<h1>@ViewData["Title"]</h1>

<p>1. Lebron James - 10.6 Assists Per Game</p>
<p>2. Trae Young - 9.4 Assists Per Game</p>
<p>3. Ricky Rubio - 8.8 Assists Per Game</p>
<p>4. Luka Doncic - 8.8 Assists Per Game </p>
<p>5. Ben Simmons - 8.2 Assists Per Game</p>