@{
    ViewData["Title"] = "2019-2020 NBA Season Blocks Leaders";
}
<h1>@ViewData["Title"]</h1>

<p>1. Hassan Whiteside - 3.1 Blocks Per Game</p>
<p>2. Brook Lopez - 2.5 Blocks Per Game</p>
<p>3. Anthony Davis - 2.5 Blocks Per Game</p>
<p>4. Miles Turner - 2.1 Blocks Per Game </p>
<p>5. Mitchell Robinson - 2.0 Blocks Per Game</p>