@{
    ViewData["Title"] = "Home Page";

}
<style>
    div.outter {
        background-image: linear-gradient(blue, white, red);
    }
    h5 {
        text-align: center;
    }
</style>

<div class="outter">
    <div class="text-center">
        <h1 class="display-4">Welcome to our COMP 680 NBA Application</h1>
        <h4>By Srisri Gokanapudy, Vincent Ha, Jeffrey Sakadia</h4>
    </div>    
    <h5><a href="https://drive.google.com/drive/u/2/folders/1NxUYs5ZSdan7Tbq4-mSmCxyvFFAKJ_Gt">Click to see our progress reports</a></h5>
</div>
<div class="teams">
    <img src="~/css/teams.jpg" height ="700" width="1100" />
</div>