@{
    ViewData["Title"] = "2019-2020 NBA STANDINGS";
}
@if (User.Identity.IsAuthenticated)
{
    <h1>@ViewData["Title"]</h1>
    <h4>Basketball teams</h4>


    <p>1. MILWUAKEE BUCKS MIL</p>
    <p>2. LOS ANGELES LAKERS LAL</p>
    <p>3. TORONTO RAPTORS TOR</p>
    <p>4. LOS ANGELES CLIPPERS LAC</p>
    <p>5. BOSTON CELTICS BOS </p>
    <p>6. DENVER NUGGETS DEN </p>
    <p>7. UTAH JAZZ UTA</p>
    <p>8. MIAMI HEAT MIA</p>
    <p>9. OKLAHOMA CITY THUNDER OKC</p>
    <p>10. HOUSTON ROCKETS HOU</p>
}
else
{
    <h1>Please log in to see these statistics.</h1>
}
<div class="teams">
    <img src="~/css/NBAinside.jpg" height="700" width="1100" />
</div>