@{
    ViewData["Title"] = "2019-2020 NBA Season Points Leaders";
}
<h1>@ViewData["Title"]</h1>

<p>1. James Harden - 34.9 Points Per Game</p>
<p>2. Bradley Beal - 30.4 Points Per Game</p>
<p>3. Giannis Antetokounmpo - 29.9 Points Per Game</p>
<p>4. Trae Young - 29.8 Points Per Game </p>
<p>5. Damian Lillard - 29.5 Points Per Game</p>
