@{
    ViewData["Title"] = "2019-2020 NBA Season Steals Leaders";
}
@if (User.Identity.IsAuthenticated)
{
    <h1>@ViewData["Title"]</h1>

    <p>1. Ben Simmons - 2.1 Steals Per Game</p>
    <p>2. Kris Dunn - 2.0 Steals Per Game</p>
    <p>3. Andre Drummond - 1.9 Steals Per Game</p>
    <p>4. Fred VanVleet - 1.9 Steals Per Game </p>
    <p>5. Kawhi Leonard - 1.8 Steals Per Game</p>
}
else
{
    <h1>Please log in to see these statistics.</h1>
}